<%- include('header'); -%>
<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Quản lý ưu đãi</h3>
		<div class="right">
			<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
			<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
		</div>
	</div>
	<div class="panel-body no-padding">
		<div class="col-md-12">
			<form method="POST">
				<div class="form-group">
					<label for="name">Tên ưu đãi</label>
					<input class="form-control" type="text" name="name" placeholder="Tên ưu đãi..." required>
				</div>
				<div class="form-group">
					<label for="description" class="col-4">Mô tả</label>
					<textarea class="form-control" type="text" name="description" placeholder="Mô tả..." onkeyup="textAreaAdjust(this)" style="overflow:hidden" required></textarea>
				</div>
				<div class="form-group">
					<label for="discount" class="col-4">Khuyến mãi</label>
					<input class="form-control" type="text" name="discount" placeholder="Giảm giá, miễn phí,...">
				</div>
				<div class="form-group" class="col-4">
					<label for="date">Ngày kết thúc ưu đãi</label>
					<input class="form-control" type="date" name="date">
				</div>
				<div class="col-md-4" style="float:right;margin-bottom: 2%;">
					<a style="margin-right: 5%;" href="/sales/" class="col-md-4 btn btn-light">Hủy</a>
					<button type="submit" class="col-md-6 btn btn-primary">Thêm</button>
				</div>
			</form>
		</div>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i></span></div>
		</div>
	</div>
</div>
<%- include('footer'); -%>