<%- include('header'); -%>
<h3 class="page-title">THỐNG KÊ</h3>
<div class="row">
	<div class="col-md-12">
		<!-- BASIC TABLE -->
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Doanh thu phim
					<select id="movie" style="margin-left: 2%;">
						<option value="" disabled selected hidden>Chọn phim</option>
						<% movies.forEach((movie) => { %>
							<option value="<%= movie._id %>"><%= movie.Name %></option>
						<% }) %>
					</select>
					<a id="viewmoviereport" class="btn btn-primary" style="margin-left: 2%;cursor: pointer;">Xem</a>
				</h3>
			</div>
			<div class="panel-body">
				<div id="movieChart" class="ct-chart"></div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Thời gian</th>
							<th>Vé đã bán</th>
							<th>Doanh thu</th>
						</tr>
					</thead>
					<tbody id="movieReport">
					</tbody>
				</table>
			</div>
		</div>
		<!-- END BASIC TABLE -->
	</div>	
</div>
<%- include('footer'); -%>